body {

    padding: 0;
    scroll-margin-top: 100px;
    scroll-padding-top: 100px; 
    font-family: "Roboto";
    font-weight: 100;
    min-height: 100vh;
}

.pa{
    margin: 5px;
    padding: 0;
    text-align: start;
    font-weight: bold;
}
.pe{
    font-size: 1.2rem;
    font-weight: bold;
    
}

.pe-item{
    font-size: 0.9rem;
    font-weight: bold;
    
}

.img{
    max-height: 10rem;
    width: auto;
  
    width: 50%;
    height: auto;
}

.tostada{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 60px;
    background: aliceblue;
    font-weight: bold;
    color: black;
}

.modal-carrito{   /*en desuso*/
    min-width: 60%;
    max-height: 70%;
}

.carrito-body{   /*en desuso*/
    min-height: 30vh;

}

.producto-carrito{
    width: 100%;
    height: 6rem;
    border-bottom: 2px solid black;

}

.container-precio-botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-btn-sumar-restar{
    display: flex;

}

.btn-sumar-restar{
    display: flex;
    justify-content: center;
    align-items: center;
 margin: 5px;
 width: 30px;
 height: 30px;
 border-radius: 5px;
 background-color: #fff;
 border: 2.5px solid blue;
 

}
.btn-signo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.cantidad{
    display: flex;
    font-size: 1rem;
    margin: 5px;
    color: blue;
    font-weight: bold;
    justify-content: center;
    align-items: center;
   
}

.hide{
    display: none;
    visibility: hidden;
}
.item{
    padding: 0;
}

.texto-nombre{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow:auto;
    width: 150px;
    font-size: 13px;
}

.offcanvas-body{
    padding: 10px;
}

.total-texto{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-valor{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.btn-item-carrito{ /*desuso*/
    /*all: unset;*/
    height: auto;
}

.contenedor-boton-carrito{
    border-bottom: 2px solid black;
    height: 60px;
}

.precio{
    display: flex;
    width: 80px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

}

.img-carrito{
    height: 40px;
    width: auto;
    margin: 5px;
   
}
.imagen-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-remove{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    all: unset;
    margin-left: 5px;
}
.img-remove{
    width: 1.5rem;
    color: red;

    
}
.precio-item{
    color: blue;
    margin: 0;
}

.imagen-modal{
    width: 10rem;
    height: auto;
    padding: 1rem;
}
.descripcion-modal{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.precio-modal{
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
    margin: 0; 
    
}

.body-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-compra-titulo{
   
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;

}

.compra-icono{
    width: 200px;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .body-modal{
        display: flex;
        flex-direction: column;
    }

    .imagen-modal{
        width: 15rem;
        height: auto;
        padding: 1rem;
    }

    .descripcion-modal{
        padding: 1rem;
        margin: 0;
    }
    .card{
        display: inline-block;
        align-items: center;
    }

    .modal-carrito{   /*en desuso*/
        min-width: 60%;
        max-height: 100%;
    }

    .tienda-texto{
        font-size: 1rem;
    }

    .contenedor-productos{
        margin-top: 155px;
    }
}

/* -----------------------------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: black ;
}
.scrollable-content::-webkit-scrollbar {
    display: none;
}

.card-elemento {
    display: inline-block;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 360px;
    padding: 10px;
    background-color: white;
border-radius: 15px;
border: 4px solid rgb(30, 155, 72) ;
text-align: center;
}

.card-img-top {
    max-width: 50%;
    border: 5px ;
    align-items: center;
}

.card-title {
    font-size: 1rem;
    line-height: 1; /* Reducir el espacio entre líneas */
    margin-bottom: 0.5em; /* Espaciado inferior reducido */
}

.card-text {
    font-size: 1rem;
    line-height: 1; /* Reducir el espacio entre líneas */
    margin-bottom: 0.5em; /* Espaciado inferior reducido */
    overflow: hidden; /* Ocultar texto que exceda el tamaño */
    white-space: nowrap; /* Evitar el salto de línea */
    text-overflow: ellipsis; /* Mostrar elipsis al final del texto */
}

.btn-primary {
    color: #fff;
    background-color: hwb(140 18% 33%);
    border-color: hsl(0, 0%, 0%);

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-eliminar{
    border: none;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-productos{
    margin-top: 75px;
}


.contenedor-footer{
 background-color: #212529;
}

.text-body-secondary{
    color: #fff;
    font-weight: 400;
}
.py-3 .my-4{
    margin: 0;
    padding: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card{
    width: 17rem;

}

.card-elemento{
    max-height: 360px;
}

.card-elemento:hover{
    transform: scale(1.05);
    transition: all .1s;
    cursor: pointer;
}

.github-link{
    color: #fff;
}

.bat-carro{
    margin: 5px;
    height: 60px;
}